{% extends 'base.html.twig' %}

{% block title %}Portfolio Index{% endblock %}

{% block body %}
{% if app.session.get('user') and app.session.get('user').idrole == 2 %}
    {% include 'backandfront/Front/navbar.html.twig' %}
{% elseif app.session.get('user') and app.session.get('user').idrole == 3 %}
    {% include 'backandfront/Front/navbarfree.html.twig' %}
{% endif %}    

    
    <table style="border-collapse: collapse; width: 100%;">
        <thead style="background-color: #ccc;">
    <tr>
        <th style="border: 1px solid #ccc; padding: 0.5em;">Description</th>
        <th style="border: 1px solid #ccc; padding: 0.5em;">CV</th>
        <th style="border: 1px solid #ccc; padding: 0.5em;">Image</th>
        <th style="border: 1px solid #ccc; padding: 0.5em;">Actions</th>
        <th style="border: 1px solid #ccc; padding: 0.5em;">Likes / Dislikes</th>
        <th style="border: 1px solid #ccc; padding: 0.5em;">Rating</th>
    </tr>
</thead>
<tbody style="background-color: #">
    {% for portfolio in portfolios %}
    <tr>
        <td style="border: 1px solid #ccc; padding: 0.5em;">{{ portfolio.description }}</td>
        <td style="border: 1px solid #ccc; padding: 0.5em;">{{ portfolio.cv }}</td>
        <td style="border: 1px solid #ccc; padding: 0.5em;"><img src="{{asset('/images/'~portfolio.image)}}" width="100" height="100" class="img" alt="{{ portfolio.description }}" /></td>
        <td style="border: 1px solid #ccc; padding: 0.5em;">
            <a href="{{ path('app_portfolio_edit', {'idportfolio': portfolio.idportfolio}) }}" style="text-decoration: none; margin-right: 0.5em;" class="btn btn-sm btn-outline-primary">Edit </a>
            <a href="{{ path('app_portfolio_delete', {'idportfolio': portfolio.idportfolio}) }}" style="text-decoration: none;" class="btn btn-danger">Delete</a>
            <a href="{{ path('app_portfolio_show', {'idportfolio': portfolio.idportfolio}) }}" style="text-decoration: none; margin-right: 0.5em;" class="btn btn-sm btn-outline-primary">Show </a>
        </td>
        <td style="border: 1px solid #ccc; padding: 0.5em;">
            {{ portfolio.likes }} / {{ portfolio.dislikes }}
            <button class="btn btn-success like-btn" data-id="{{ portfolio.idportfolio }}">Like</button>
            <button class="btn btn-danger dislike-btn" data-id="{{ portfolio.idportfolio }}">Dislike</button>
        </td>





        <td>
         <div class="d-flex align-items-center mb-3">
            {% if portfolio.rating != 0 %}
      <p class="text-blue-900 font-medium mr-2">Rating:</p>
      {% for i in range(1, portfolio.rating) %}
        <svg aria-hidden="true" class="w-5 h-5 text-warning" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Star</title><path d="M9.549 1.454a1 1 0 011.902 0l.69 2.121 2.18.015a1 1 0 01.59 1.71l-1.682 1.538.478 2.137a1 1 0 01-1.453 1.055L10 9.797l-1.989 1.202a1 1 0 01-1.453-1.055l.478-2.137L5.77 5.29a1 1 0 01.59-1.71l2.18-.015.69-2.121z"/></svg>
      {% endfor %}
      {% set x = 5 - portfolio.rating %}
      {% if x > 0 %}
        {% for i in range(1, x|round(0, 'floor')) %}
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Empty Star</title><path d="M9.549 1.454a1 1 0 011.902 0l.69 2.121 2.18.015a1 1 0 01.59 1.71l-1.682 1.538.478 2.137a1 1 0 01-1.453 1.055L10 9.797l-1.989 1.202a1 1 0 01-1.453-1.055l.478-2.137L5.77 5.29a1 1 0 01.59-1.71l2.18-.015.69-2.121z"/></svg>
        {% endfor %}
      {% endif %}
      <p class="ml-2 text-sm font-medium text-blue-900">{{ portfolio.rating }}/5</p>
        {% endif %}
        </div>

<form method="post" action="{{ path('update_portfolio') }}">
    <td>
        <div class="d-flex align-items-center mb-3">
            <label for="rating" class="text-blue-900 font-medium mr-2">Rating:</label>
            <select  value="{{ portfolio.rating }}" name="rating" id="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="hidden" name="idportfolio" value="{{ portfolio.idportfolio }}">
            <button id="update-rating-btn" type="submit" class="ml-2 btn btn-primary">Update</button>
        </div>
    </td>
</form>

    {% else %}

    <tr>
        <td colspan="6" style="border: 1px solid #ccc; padding: 0.5em;"></td>
    </tr>
    {% endfor %}
</tbody>



            
            <form method="get" action="{{ path('app_portfolio_index') }}">
        <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Go</button>
            </div>
        </div>
        </form>
        {% if portfolios.getTotalItemCount() == 0 %}
            <tr>
            <td colspan="5">No records found</td>
        </tr>
    {% endif %}
    {% if searchQuery %}
        <div class="alert alert-info" role="alert">
            Results for "{{ searchQuery }}": {{ portfolios.getTotalItemCount() }} item(s)
     </div>
 {% endif %}
    </table>



<br>
{% block javascripts %}
<script>
    $(document).ready(function() {
        $('.like-btn, .dislike-btn').click(function(event) {
            event.preventDefault();
            var $button = $(this);
            var id = $button.data('id');
            var type = $button.hasClass('like-btn') ? 'like' : 'dislike';
            $.ajax({
                type: "POST",
                url: "{{ path('update_votes') }}",
                data: { id: id, type: type },
                success: function(response) {
                    if (response === 'success') {
                        var $likesDislikes = $button.closest('tr').find('.likes-dislikes');
                        var likes = parseInt($likesDislikes.data('likes'));
                        var dislikes = parseInt($likesDislikes.data('dislikes'));
                        if (type === 'like') {
                            $likesDislikes.html((likes + 1) + ' / ' + dislikes);
                        } else {
                            $likesDislikes.html(likes + ' / ' + (dislikes + 1));
                        }
                    }
                }
            });
        });
    });
</script>
{% endblock %}



{#
{% for portfolio in portfolios %}
<tr>
    <td>{{ portfolio.description }}</td>
    <td>{{ portfolio.cv }}</td>
    <td><img src="{{asset('/images/'~portfolio.image)}}" width="100" height="100" alt="{{ portfolio.description }}" /></td>
    <td>
        <button class="btn btn-success like-btn" data-id="{{ portfolio.idportfolio }}">Like</button>
        <button class="btn btn-danger dislike-btn" data-id="{{ portfolio.idportfolio }}">Dislike</button>
    </td>
    <td class="likes-dislikes" data-likes="{{ portfolio.likes }}" data-dislikes="{{ portfolio.dislikes }}">
        {{ portfolio.likes }} / {{ portfolio.dislikes }}
    </td>
</tr>
{% endfor %}
#}


    

 <br>
<center> {{ knp_pagination_render(portfolios) }}
<br>
    <div id="google_translate_element"></div>
         <script type="text/javascript">
             function googleTranslateElementInit() {
                 new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
             }
         </script>

         <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   
     <a href="{{ path('app_portfolio_new', {'search': searchQuery}) }}" class="btn btn-primary mt-4 mb-4">Create new</a>

   {% include 'backandfront/Front/footer.html.twig' %} 
   
{% endblock %}
