{% extends 'base.html.twig' %}
   {% block stylesheets %}
    {{ parent() }}
    <style>
      /* Center the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Style the form fields */
input[type="text"],
input[type="range"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Style the submit button */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4761ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Style the back link */
a {
  margin-top: 20px;
  display: block;
  text-align: center;
  color: #ccc;
  transition: color 0.3s ease;
}

a:hover {
  color: #333;
}

/* Style the page title */
h1 {
  text-align: center;
  margin-top: 40px;
}
    </style>
{% endblock %}
{% block title %}New Category{% endblock %}

{% block body %}
{% if app.session.get('user') and app.session.get('user').idrole == 2 %}
    {% include 'backandfront/Front/navbar.html.twig' %}
{% elseif app.session.get('user') and app.session.get('user').idrole == 3 %}
    {% include 'backandfront/Front/navbarfree.html.twig' %}
{% endif %}

    <h1>New Category</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_projet_new') }}">Retour a l ajout du projet</a>
    
    {% include 'backandfront/Front/footer.html.twig' %}
{% endblock %}
